<%- include header %>
<form method="post">
  username：  <input type="text" name="name"/><br />
  password：    <input type="password" name="password"/><br />
  comfirm：<input type="password" name="password-repeat"/><br />
  Email：    <input type="email" name="email"/><br />
           <input type="submit" value="regesiter"/>
</form>
<%- include footer %>